article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: none;
}

button, img {
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}