@import "reset.css";
@import "header.css";
@import "banner.css";
@import "advantages.css";
@import "catalogue.css";
@import "feedback.css";
@import "footer.css";
@import "form.css";
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
    --main-light: #fff;
    --brown-1: #382d2c;
    --brown-2: #5e4b4a;
    --brown-3: #5c5254;

    --accent: #e65101;

    --yellow-1: #ffcd67;
    --yellow-2: #d8c599;
    --yellow-3: #fefaf2;

    --font-special: "Sofia Sans Condensed";
    --font-normal: "Avenir Next";

    --element-shadow: 0 2px 4px var(--yellow-2)
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-normal), Arial, sans-serif;
}

body {
    background-color: #fdf6e4;
}

button, a, h1, h2, h3 {
    font-family: var(--font-special), serif;
}

.main-btn {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 8px;
    color: var(--main-light);
    background-color: var(--accent);
    transition: 0.3s;
}

.secondary-btn {
    padding: 5px 8px;
    color: var(--main-light);
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--accent);
    width: 100%;
    transition: 0.3s;
}

button:active {
    transform: scale(1.1);
}

main {
    padding-top: 2.8125rem;
}

section {
    scroll-margin-top: 3.5rem;
    margin: 2rem 1rem;
}

section h2 {
    color: var(--brown-1);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media (pointer: fine) {
    button:hover, .secondary-btn:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

}

@media (min-width: 48rem) {
    .main-btn, .secondary-btn {
        font-size: 1.3rem;
    }
    main {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    section {
        scroll-margin-top: 5.5rem;
        margin: 2rem 3rem;
    }
    section h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 75rem) {
    section {
        margin: 2.5rem 6.5rem;
    }
    section h2 {
        font-size: 3.2rem;
        margin-bottom: 2.5rem;
    }
}
